.wrapper {
	flex-direction: column;
	margin: 50px;
	border-top: 1px solid #D8D8D8;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
}
table {
  border-collapse: collapse;
  width: 80%;
}
.header {
	height: 28px;
	border-bottom: 1px solid #D8D8D8;
}
th {
	font-weight: 500;
	font-size: 12px;
	color: #696969;
	padding: 3px 0;
	text-align: left;
}
tr {
	font-weight: 500;
	font-size: 13px;
	color: #696969;
	padding: 3px 0;
	text-align: left;

}
tr:nth-of-type(even){
	background: #F0F8FF;
}
.contact-body {
	height: 48px;
	border-bottom: 1px solid #D8D8D8;
}
.pad-left-12 {
	padding-left: 12px;
}
.blue-text {
  color: #0000CD;
}
.center {
  text-align: center;
}
.contact {
	width: 100%;
	height: 100%;
}